body {
  background-color: black;
  font-family: "Estonia", "cursive";
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}

.wrapper {
  margin: 30px auto;
  width: 800px;
  color: #ffc222;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 500;
  font-size: 2.6em;
  text-transform: uppercase;
}
